    <!-- page contents -->
    <div class="uk-section uk-section-small uk-section-default">
        <div class="uk-container">
        <!-- Grid Component -->

<h2 class="uk-heading-bullet">Trending Today</h2>
   <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
    <div>
        <div class="uk-width-1-4@m uk-card uk-card-default uk-card-body">Trending 1</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Trending 2</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Trending 3</div>
    </div>
     <div>
        <div class="uk-card uk-card-default uk-card-body">Trending 4</div>
    </div>
</div>

   <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
    <div>
        <div class="uk-width-expand@m uk-card uk-card-default uk-card-body">
      <h3 class="uk-heading-bullet">Popular Posts
        </div>
    </div>
   
     <div>
        <div class="uk-width-expand@m uk-card uk-card-default"><h3 class="uk-heading-bullet">Up & Coming Communities</h3>
      <div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
            <%= image_tag("light.jpg", :alt => "lightfeed") %>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Media Top</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      <button class="uk-button uk-button-primary">View More</button>
            </div>
      
        </div>
    </div>
        </div>
    </div>
</div>



</div>
</div>
