<div class="row">
<div class="col mt-2">
<h4>Trending Today</h4>
</div>
</div>
<div class="row">
<div class="col-sm-3">
Trending 1
</div>
<div class="col-sm-3">
Trending 1
</div>
<div class="col-sm-3">
Trending 1
</div>
<div class="col-sm-3">
Trending 1
</div>
</div>
<div class="row">
<div class="col-8">
<h5 class="mt-2">Popular Posts</h5>
</div>
<div class="col-4">
<h5 class="mt-2 mb-4">Up & Coming Communities</h5>

<div class="card">
<ul class="list-group list-group-flush">
<% @communities.each do |community| %>
<li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
<% end %>
</ul>
<%= link_to "View All", communities_path, class: "btn btn-primary mt-4 mb-4" %>
</div>
</div>
</div>

