    <!-- page contents -->
    <div class="uk-section uk-section-small uk-section-default">
        <div class="uk-container">
            <h2>SECTION 1</h2>
            <p>Section paragraph</p>
        </div>
    </div>
