// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
.btn-primary {
background-color: #5506eb!important;
border-color: #5506eb!important;
}
// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}
.navbar-dark {
  background-color: #FF5700!important;
}
.navbar-dark li a {
color: whitesmoke!important;
}
.btn-secondary {
background-color: #51ca57!important;
color: whitesmoke!important;
border-color: #51ca57!important;
}

