 <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Url</th>
            <th>Rules</th>
            
      </tr>
    </thead>

    <tbody>
      <% @communities.each do |community| %>
        <%= content_tag :tr, id: dom_id(community), class: dom_class(community) do %>
          
            <td><%= link_to community.name, community %></td>
               <td><%= community.url %></td>
               <td><%= community.rules %></td>
             <% end %>
      <% end %>
    </tbody>
  </table>